.buttons{
    margin: 15px;
    background: rgb(105, 132, 207); 
}

.buttons button{
    margin: 1rem;
    width: 50px;
    height: 50px;
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
}